<div style="width: 100%">
    <div style="text-align:center;display:inline-block;width: 20%;vertical-align: center">
        <p><a href="https://www.dytt8.net/index.htm" target="_blank">电影天堂官网</a></p>
        <p><a href="/">首页</a></p>
        <p><a href="/overview.html">数据分析</a></p>
        <p><a href="/">爬虫管理</a></p>
    </div>
    <div style="text-align: center;width: 75%;display:inline-block;vertical-align:200%">
        <h1 id="title_h1" style="display: inline-block;height: 100%;"></h1>
    </div>
    <hr>
</div>
